.allItems {
  min-height: 40vh;
}

.shopSearch {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  input {
    width: 30%;
    margin: 0 25px;
    border-color: $color2;
  }
}

.makeup {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 50px 0;
  .productPage {
    width: calc(33.3% - 20px);
    border: 2px solid $color2;
    margin: 10px;
    transition: all 0.3s;
    &:hover,
    &:active,
    &:focus {
      border-color: $color1;
      transform: scale(1.02);
    }

    h2 {
      font-size: 1.8rem;
      padding-top: 15px;
    }

    img {
      padding: 20px;
    }
  }
}
