html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
}

li,
a,
Link {
  list-style: none;
  text-decoration: none;
  color: $baseColor;
}

body {
  font-family: $baseFont;
  font-size: 1.6rem;
}
