html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
}

.highlight {
  border-bottom: 2px solid $color2;
}

img {
  width: 100%;
}

li,
a,
Link {
  list-style: none;
  text-decoration: none;
  color: $baseColor;
}

body {
  font-family: $baseFont;
  font-size: 1.6rem;
}

button {
  @include buttonStyle;
  &:hover,
  &:active,
  &:focus {
    // transform: scale(1.3);
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px $color2;
  }
}
