html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
}

li,
a,
Link {
  list-style: none;
  text-decoration: none;
  color: $fontColor;
}

body {
  font-family: $baseFont;
}

.allItems {
  form {
    text-align: center;
    margin-top: 400px;
  }
}
