@media (max-width: 1218px) {
  .headerNav {
    display: block;
    ul {
      margin-top: 10px;
      li {
        margin: 0 25px 0 0;
      }
    }
  }
}

@media (max-width: 830px) {
  .nav {
    padding-bottom: 200px;
  }

  .banner,
  .moreInfo {
    margin-top: -180px;
  }

  .reviewContainer {
    .nameForm,
    .reviewForm {
      width: 90%;
    }
  }
}

@media (max-width: 714px) {
  .headerNav .titleContainer {
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 2.1rem;
      padding: 0;
    }
  }

  .shopSearch {
    input {
      width: 50%;
      display: block;
      margin: 10px auto;
    }
  }

  .makeup {
    .productPage {
      width: 100%;
    }
  }

  .moreInfo {
    padding: 15px;
    .contentContainer {
      display: block;
    }

    .image {
      padding: 0;
    }
  }
}

@media (max-width: 520px) {
  .headerNav {
    h1 {
      font-size: 5rem;
    }

    ul {
      li {
        font-size: 1.6rem;
      }
    }
  }

  .nav {
    padding-bottom: 120px;
  }

  .banner,
  .moreInfo {
    margin-top: -100px;
  }

  .moreInfo {
    .bottomContainer {
      flex-direction: column-reverse;
      .anotherItem {
        margin-bottom: 20px;
      }
    }
  }

  .shopSearch {
    input,
    button {
      width: 100%;
    }
  }

  .reviewContainer {
    .nameForm,
    .reviewForm {
      width: 100%;
    }
  }

  footer .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}
