.headerNav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  h1 {
    font-family: $headerFont;
    font-size: 8rem;
    text-shadow: 2px 2px 1px $color1;
  }
  ul {
    display: flex;
    margin-top: 35px;
    li {
      font-size: 2rem;
      margin-left: 45px;
    }

    .navLinks {
      transition: all 0.3s;
      &:hover {
        color: $color1;
      }
    }
  }
}
