.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  .titleContainer {
    display: flex;
    align-items: center;
    h1 {
      font-family: $headerFont;
      font-size: 8rem;
      text-shadow: 2px 2px 1px $color1;
      padding-right: 40px;
    }

    p {
      color: $color1;
      font-size: 3rem;
      font-family: $baseFont;
      font-weight: 400;
      text-shadow: none;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }

  ul {
    display: flex;
    li {
      font-size: 2rem;
      margin-left: 45px;
    }

    .navLinks {
      transition: all 0.3s;
      &:hover,
      &:active,
      &:focus {
        color: $color1;
      }
    }
  }
}
