.headerNav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  h1 {
    font-family: $headerFont;
    font-size: 8rem;
  }
  ul {
    display: flex;
    margin-top: 35px;
    li {
      font-size: 2rem;
      margin-left: 45px;
    }
  }
}
