.moreInfo {
  background-color: white;
  height: 180vh;
  padding: 50px;
  margin-top: -390px;
  .image {
    min-width: 50%;
    padding-right: 30px;
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
  }

  .textContainer {
    width: auto;

    .colourButton {
      margin-top: 20px;
    }
  }

  .priceContainer {
    display: flex;
    padding: 20px 0;
    h2 {
      padding-right: 2px;
    }
  }

  .colourMenuContainer {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;

    .swatch li {
      padding: 5px 5px;
      transition: all 0.3s linear;
      display: flex;
    }

    .swatch li:hover {
      transform: scale(1.2);
      background-color: $color3;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .bottomContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
