/**********************/
/* Review Data Styles */
/***********************/

.review {
  display: flex;
  flex-direction: column;
  .reviewDataContent {
    padding: 5px;
    width: 100%;
    .reviewedBy {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    .comment {
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 10px;
    }
  }

  h4 {
    padding-right: 5px;
  }

  h4:nth-child(2) {
    font-weight: normal;
    margin-right: 20px;
    padding-top: 5px;
    text-decoration: underline $color1;
  }

  p {
    font-style: italic;
    margin: 5px 0 15px 0;
  }
}
