.shopSearch {
    text-align: center;
}

.shopSearch input {
    width: 40%;
    height: 5vh;
    margin: 2rem;
    font-size: 2rem;
    border-color: $color2;
    text-shadow: 5px 5px 5px $color1;
}

.shopSearch button {
    width: 10%;
    height: 5vh;
    font-size: 2rem;
    border-color: $color2;
}

.shopSearch button:hover,
.shopSearch button:active,
.shopSearch button:focus-within {
    border-color: $color1;
}



//LAYOUT
.gridProducts {
    display: flex;
    margin: 2rem;
}

.productsFound {
    width: 25%;
    display: grid;
    border: 2px solid $color2;
    box-shadow: 4px 4px 4px #aaa;
    grid-template-rows: 15% 5% 75% 5%;
    grid-gap: 2rem;
    text-align: left;
    padding: 2rem;
}
.productsFound img,
.productsFound h2,
.productsFound .productPrice{
    grid-column: 1/-1;
    padding: 1rem;
}
.productsFound img {
    width: 100%;
    grid-row: 3/4;
}
.productsFound h2 {
    grid-row: 1/2;
}
.productsFound .productPrice {
    grid-row: 2/3;
}
.producsFound .linkToDetails {
    grid-row: 3/4;
}



