html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
}

li,
a,
Link {
  list-style: none;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.6rem;
}

button {
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: #4cd3aa;
}

button:hover, button:active, button:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 5px #cc9975;
          box-shadow: 0px 0px 5px 5px #cc9975;
}

.nav {
  background-color: rgba(210, 228, 219, 0.801);
  height: 60vh;
}

.banner {
  text-align: center;
  margin-top: -340px;
}

.banner .carousel-status {
  display: none;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.headerNav h1 {
  font-family: "Cormorant", serif;
  font-size: 8rem;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.headerNav ul li {
  font-size: 2rem;
  margin-left: 45px;
}

.shopSearch {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}

.shopSearch input {
  width: 30%;
  margin: 0 25px;
  border-color: #cc9975;
}

.makeup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 50px 0;
}

.makeup .productPage {
  width: calc(33.3% - 20px);
  border: 2px solid #cc9975;
  margin: 10px;
}

.makeup .productPage h2 {
  font-size: 1.8rem;
  padding-top: 15px;
}

.makeup .productPage img {
  padding: 20px;
}

.moreInfo {
  background-color: white;
  height: 90vh;
  padding: 50px;
}

.moreInfo .image {
  min-width: 50%;
  padding-right: 30px;
}

.moreInfo .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.moreInfo .textContainer {
  width: auto;
}

.moreInfo .textContainer .colourButton {
  margin-top: 20px;
}

.moreInfo .priceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.moreInfo .priceContainer h2 {
  padding-right: 2px;
}

.moreInfo .colourMenuContainer {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.moreInfo .colourMenuContainer .swatch li {
  padding: 5px 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moreInfo .colourMenuContainer .swatch li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: rgba(210, 228, 219, 0.801);
  border-radius: 5px;
  cursor: pointer;
}

.moreInfo .bottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

/**********************/
/* Review Form Styles */
/**********************/
.reviewContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.reviewContainer h3 {
  margin-bottom: 10px;
}

.reviewContainer .nameForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin-bottom: 10px;
}

.reviewContainer .reviewForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.reviewContainer input,
.reviewContainer textarea {
  padding: 10px;
  width: 100%;
  border-color: #cc9975;
}

.reviewContainer input:focus,
.reviewContainer textarea:focus {
  border-color: #4cd3aa;
}

.reviewContainer ::-webkit-input-placeholder {
  letter-spacing: 1.5px;
}

.reviewContainer :-ms-input-placeholder {
  letter-spacing: 1.5px;
}

.reviewContainer ::-ms-input-placeholder {
  letter-spacing: 1.5px;
}

.reviewContainer ::placeholder {
  letter-spacing: 1.5px;
}

.reviewContainer button {
  margin-top: 15px;
  margin-bottom: 30px;
}

/**********************/
/* Review Data Styles */
/***********************/
.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review .reviewDataContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
}

.review .reviewDataContent .reviewedBy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.review .reviewDataContent .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 30px;
  border: 2px solid red;
}

.review h4 {
  padding-right: 5px;
}

.review h4:nth-child(2) {
  font-weight: normal;
  margin-right: 20px;
}

.review p {
  font-style: italic;
}

footer {
  background-color: #cc9975;
}

footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */